<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Home Page</title>

    <!-- <link rel="stylesheet" href="./stylesheet/style.css" /> -->
  </head>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: whitesmoke;
      "
      class="container"
    >
      <h2
        style="
          font-weight: bolder;
          font-size: 40px;
          background-color: green;
          padding: 5px 20px;
          color: white;
          border-radius: 20px;
        "
      >
        Welcome to Home Page
      </h2>
      <div
        style="
          background-color: slategrey;
          padding: 10px 80px;
          margin-top: 10px;
          border-radius: 20px;
        "
        class="container__list"
      >
        <ul>
          <li
            style="
              font-size: 20px;
              background-color: coral;
              padding: 10px;
              margin: 10px;
              border-radius: 20px;
              transition: all 0.6s ease-in;
              list-style-type: none;
            "
          >
            <a style="text-decoration: none; color: white" href="/"
              >Home Page</a
            >
          </li>
          <li
            style="
              font-size: 20px;
              background-color: coral;
              padding: 10px;
              margin: 10px;
              border-radius: 20px;
              transition: all 0.6s ease-in;
              list-style-type: none;
            "
          >
            <a style="text-decoration: none; color: white" href="/contact">
              Contact Page</a
            >
          </li>
          <li
            style="
              font-size: 20px;
              background-color: coral;
              padding: 10px;
              margin: 10px;
              border-radius: 20px;
              transition: all 0.6s ease-in;
              list-style-type: none;
            "
          >
            <a style="text-decoration: none; color: white" href="/about"
              >About Page</a
            >
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
